tmp/build-errors.log
tmp/main.exe

test_cases.txt

papermache.exe
papermache
rsrc_windows_386.syso
rsrc_windows_amd64.syso

/main.go.bak
BigQR.png
SuperBig QR.jpg
SuperBig2.png
barcode128.png
repo-qrcode.jpeg
Encoded Array_big_18May2024.txt
BigTestCase_18May2024.txt
test-qrCodes/test_qrcode_000.jpeg
test-qrCodes/test_qrcode_001.jpeg
test-qrCodes/test_qrcode_002.jpeg
test-qrCodes/test_qrcode_003.jpeg
test-qrCodes/test_qrcode_004.jpeg
test-qrCodes/test_qrcode_005.jpeg
test-qrCodes/test_qrcode_006.jpeg
test-qrCodes/test_qrcode_007.jpeg
test-qrCodes/test_qrcode_008.jpeg
test-qrCodes/test_qrcode_009.jpeg
test-qrCodes/test_qrcode_010.jpeg
test-qrCodes/test_qrcode_011.jpeg
test-qrCodes/test_qrcode_012.jpeg
test-qrCodes/test_qrcode_013.jpeg
test-qrCodes/test_qrcode_014.jpeg
test-qrCodes/test_qrcode_015.jpeg
test-qrCodes/test_qrcode_016.jpeg
test-qrCodes/test_qrcode_017.jpeg
test-qrCodes/test_qrcode_018.jpeg
test-qrCodes/test_qrcode_019.jpeg
test-qrCodes/test_qrcode_020.jpeg
test-qrCodes/test_qrcode_021.jpeg
test-qrCodes/test_qrcode_022.jpeg
test-qrCodes/test_qrcode_023.jpeg
test-qrCodes/test_qrcode_024.jpeg
test-qrCodes/test_qrcode_025.jpeg
test-qrCodes/test_qrcode_026.jpeg
test-qrCodes/test_qrcode_027.jpeg
test-qrCodes/test_qrcode_028.jpeg
test-qrCodes/test_qrcode_029.jpeg
test-qrCodes/test_qrcode_030.jpeg
test-qrCodes/test_qrcode_031.jpeg
test-qrCodes/test_qrcode_032.jpeg
test-qrCodes/test_qrcode_033.jpeg
test-qrCodes/test_qrcode_034.jpeg
test-qrCodes/test_qrcode_035.jpeg
test-qrCodes/test_qrcode_036.jpeg
test-qrCodes/test_qrcode_037.jpeg
test-qrCodes/test_qrcode_038.jpeg
test-qrCodes/test_qrcode_039.jpeg
test-qrCodes/test_qrcode_040.jpeg
test-qrCodes/test_qrcode_041.jpeg
test-qrCodes/test_qrcode_042.jpeg
test-qrCodes/test_qrcode_043.jpeg
test-qrCodes/test_qrcode_044.jpeg
test-qrCodes/test_qrcode_045.jpeg
test-qrCodes/test_qrcode_046.jpeg
test-qrCodes/test_qrcode_047.jpeg
test-qrCodes/test_qrcode_048.jpeg
test-qrCodes/test_qrcode_049.jpeg
test-qrCodes/test_qrcode_050.jpeg
test-qrCodes/test_qrcode_051.jpeg
test-qrCodes/test_qrcode_052.jpeg
test-qrCodes/test_qrcode_053.jpeg
test-qrCodes/test_qrcode_054.jpeg
temp/decode_qr.html

/papermache.exe.big
