.no-show {
  display: none;
}

.one-inch-left {
  margin-left: 1in;
}

@media print {
  #header,
  #contribution,
  #checkbox-container {
    /* Add the elements you want to hide */
    display: none;
  }
}

.no-print {
  @media print {
    /* Add the elements you want to hide */
    display: none;
  }
}

@media print {
  div.divFooter {
    position: fixed;
    bottom: 1in;
    margin-left: 1in;
  }

  /* html, body {
    width: 210mm;
    height: 297mm;
  } */
}


/* From https://stackoverflow.com/a/1664058 */
.page-break {
  @media print {
    clear: both;
    page-break-after: always;
    /* page-break-after works, as well */
  }
}
